{
  "extends": "eslint-config-accurapp",
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    // note you must disable the base rule as it can report incorrect errors
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "indent": "off",
    "@typescript-eslint/indent": ["error", 2]
  }
}
